.nav-bar{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
    font-family:'Times New Roman', Times, serif
}


button {
    color: gray;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 15px;
}

.nav-btns {
    flex-direction: column;
}


.prev,
.next,
.reload {
    width: 80px;
    margin: 5px;
    padding: 5px;
}

.reload {
    padding: 5px;
}


.dropdownbutton{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent{
    display:none;
    position: absolute;
    box-shadow:0px 8px 16px 0px rgba(0,0.0,0.2);
    z-index:1;
}


.show{
    display:block;
}

.pagesize{
    cursor: pointer;
    display:block;
    padding-left: 2em;
    padding-right: 2em;
}
.pagesize:hover {
    background-color: #FF0000;
}
/*
.dropdownbutton:focus{
    background-color: #0000FF;
}
*/

#results{
    padding-left:20%;
    padding-right:20%;
}

#skipbox {
    width: 150px;
    height: 20px
}


